body{
    font-family: Arial, ;
    background-color: lightgrey;
    margin 0;
}
header{
    background-color: darkcyan;
    color: white;
    padding: 20px;
    text-align: center;
}
nav{
    background-color: red;
    padding: 10px;
    text-align: center;

}
nav a{
    color: white;
    margin: 5px;
    text-decoration: none;
}
main{
    background-color:rgb(222, 213, 213) ;
    margin: 20px;
    padding: 20px;
}
img{
    width: 300px;
}